<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create User</title>
</head>
<body>
    <h1>Create a new user</h1>
    
    <form method="POST" action="/">
        <section style="margin: 1rem 0">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username">
        </section>

        <section style="margin: 1rem 0">
            <span>Date of Birth:</span>
            <label for="day" style="display: none;">Day</label>
            <input style="width: 75px;" type="number" placeholder="Day" id="day" name="day">
            <label for="month" style="display: none;">Month</label>
            <input style="width: 75px;"  type="number" placeholder="Month" id="month" name="month">
            <label for="year" style="display: none;">Year</label>
            <input style="width: 75px;"  type="number" placeholder="Year" id="year" name="year">
        </section>

        <section style="margin: 1rem 0">
            <label for="profession">Profession:</label>
            <input type="text" id="profession" name="profession">
        </section>

        <button type="submit">Create</button>
    </form>
</body>
</html>