/* GENERAL */
* {
  margin: 0;
  padding: 0;
  font-size: 21px;
}

main {
  margin: 1rem 2rem;
}

.--bold {
  font-weight: 600;
}

.hidden {
  display: none;
}

/* TOP BAR */
.nav__div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  margin-bottom: 1rem;
  font-size: 1.75rem;
}

.title--date {
  font-size: 1rem;
  font-weight: normal;
}

/* TO-DO FORM */
.form--add {
  border: 2px solid black;
  display: none;
  padding: 0.5rem 1rem;
  width: 40%;
}

.form--divs {
  display: flex;
  flex-direction: column;
}

.form__input--title {
  height: 1.5rem;
}

.form__textarea {
  resize: none;
}

.form__label {
  font-size: 21px;
}

.form__button--div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form__button {
  height: 2rem;
  width: 45%;
  font-size: 1rem;

  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  border: 1px solid black;
}

.form__button:hover {
  background-color: rgb(232, 232, 232);
}

.form__button:active {
  background-color: rgb(255, 255, 255);
}

.form--spacing {
  margin: 0.5rem 0;
}

/* TO-DO LIST */
.list--add {
  margin: 1rem 2rem;
}
