<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Comments</title>
</head>
<body>
    <h1>Edit a Comment</h1>
    <ul>
        <!-- NEW ROUTE -->
        <form action="/comments" method="get">
            <section>
                <label for="comment">Comment:</label>
                <br>
                <textarea name="comment" id="comment" cols="30" rows="10"></textarea>
            </section>
            <button type="submit">Send</button>
        </form>
        <hr>
        <a href="/comments">Return to Index</a>
    </ul>
</body>
</html>