<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comments Index</title>
</head>
<body>
    <h1>Comments</h1>
    <ul>
        <!-- INDEX ROUTE -->
        <% for(let c of comments) { %> 
             <li>
                 <a href="/comments/<%= c.id %> "><%= c.comment %></a> | <b><%= c.username %></b>
            </li>
        <% }  %> 
    </ul>
    <form action="/comments/new" method="GET">
        <hr>
        <div style="margin-top: .25rem;">
            <span style="margin-right: .25rem;">Create a New Comment</span>
            <button style="background-color: white;">New</button>
        </div>
    </form>
</body>
</html>