<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> To-Do List</title>
    <link rel="stylesheet" href="/css/app.css">
    <script defer src="/js/app.js"></script>
</head>
<body>
    <main>
        <nav class="nav__div">
                <h1 class="title">To-Do List</h1>
                <h2 class="title--date">Today is <span class="--bold"><%= day %></span></h2>
        </nav>
    
        <article class="form--add">
            <form action="/" method="post">
                <div class="form--divs">
                    <label for="title" class="form--spacing form__label">Title:</label>
                    <input id="title" name="title" type="text" class="form__input--title">
                </div>
                <div class="form--divs">
                    <label for="description" class="form--spacing form__label">Description:</label>
                    <textarea name="description" id="textDescription" cols="20" rows="3" class="form__textarea"></textarea>
                    <div class="form__button--div form--spacing">
                        <button type="submit" class="form__button">Add</button>
                        <button type="submit" class="form__button button--close">Close</button>
                    </div>
                </div>
            </form>
        </article>

        <section class="list--add">
            <ul>
                <% listItems.forEach(item => { %>
                    <li>
                        <%= item.title %> | <%= item.description %> 
                    </li>
                <% }) %>
            </ul>
        </section>

        <button class="form__button button--reveal">Add Task</button>
    </main>
</body>
</html>